[Unit]
Description=test the notification (to get the right environment)

[Service]
# best overview: https://wiki.archlinux.org/title/systemd#Service_types
User=matt_dumont
Type=simple
EnvironmentFile=/home/matt_dumont/aw_qt_notify/notify_overwork.env
ExecStart=/home/matt_dumont/miniconda3/bin/conda run -n aw_qt python /home/matt_dumont/activitywatch_manual-tag/notification/test.py
ExecStop=
Restart=on-failure
RestartSec=20
RemainAfterExit=no
IgnoreSIGPIPE=no

